.gridComponent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 960px;
    margin-top: 3rem;

    .card {
        flex-basis: 44%;
        color: inherit;
        text-decoration: none;
        margin: 1rem;
        main {
            margin: 1rem;
        }
        @media (max-width: 567px) {
            flex-basis: 100%;
            margin: 0;
        }
        header {
            text-align: center;
        }
    }
}
