@import 'styles/colors';

.gridComponent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 960px;

    @media (min-width: 1360px) {
        max-width: 1253px;
    }

    .card {
        flex-basis: 44%;
        color: inherit;
        text-decoration: none;
        margin: 1rem;

        header {
            img {
                background: lighten($black, 95%);
            }
        }

        main {
            margin-top: -0.5rem;

            div {
                background: $secondary-red;
                padding: 1rem;
                border-bottom: 10px solid;
                border-image-slice: 1;
                border-width: 5px;
                border-image-source: linear-gradient(to left, $black, $main-red);
            }
        }
        .cardTitle {
            color: $white;
            span {
                color: $white;
            }
        }
        .author {
            color: $white;
        }
        &.one {
            flex-basis: 100%;
        }
        @media (max-width: 567px) {
            flex-basis: 100%;
            margin: 0;
        }
        header {
            text-align: center;
        }

        @media (min-width: 1360px) {
            &.three {

                flex-basis: 33.33%;
                padding: .5rem;
                margin: 0;
    
                &:nth-child(4),
                &:nth-child(5n + 4),
                &:nth-child(5),
                &:nth-child(5n + 5) {
                    flex-basis: 50%;
                    padding: .5rem;
                    margin: 0;
                }
            }
        }
    }
}
