@use '../../styles/colors.scss';

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.top-to-btm {
    position: relative;
    
    .icon-style {
        position: fixed;
        bottom: 30px;
        right: 15px;
        z-index: 20;
        background-color: colors.$main-red;
        border: 2px solid #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: #fff;
        cursor: pointer;
        animation: movebtn 3s ease-in-out infinite;
        transition: all .5s ease-in-out;

        &:hover {
            animation: none;
            background: #fff;
            color: colors.$main-red;
            border: 2px solid colors.$main-red;
        }
    }

}