.socialShareComponent {
    margin: 1rem 0;
    text-align: center;

    .PostSomeNetwork {
        vertical-align: top;
        display: inline-block;
        margin-right: 20px;
        text-align: center;
    }
}
