.figureComponent {
    max-width: 1680px;
    margin: 0 auto;
    .figure {
        margin: 0 auto;
        text-align: center;

        &:nth-child(even) {
            margin: 0rem auto 4rem auto;
        }

        .figcaption {
            text-align: center;

            @media (min-width: 1024px) {
                max-width: 80%;
                margin: 0 auto;
                padding: 0.5rem;
            }
        }
        &.withOverlay {
            @media (min-width: 768px) {
                position: relative;
            }
        }
    }
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        @media (max-width: 600px) {
            width: 100%;
            flex-direction: column;
        }

        .card {
            margin: 1rem 0;
            flex-basis: 100%;
            color: inherit;
            text-decoration: none;
            width: 100%;

            @media (min-width: 768px) {
                flex-basis: 45%;
                padding: 0.5rem;
            }
        }
    }
}
