@import 'styles/colors';

.footer {
    width: 100%;
    border-top: 1px solid $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        padding: 1rem 0;
    }

    img {
        margin-left: 0.5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.15rem 0.5rem;
        background-color: $black;
        color: $white;
        margin: 0.5rem;
        transition: background-color ease 1s;

        &:hover {
            background-color: $main-red;
        }
    }
}
