@use '../../styles/colors.scss';

.footer {
    border-top: 1px solid colors.$gray;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 0.75rem;

        @media (min-width: 768px) {
            padding: 1rem 0;
        }

        img {
            margin-left: 0.5rem;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.2rem 0.4rem 0.1rem 0.4rem;
            background-color: colors.$black;
            color: colors.$white;
            margin: 0.5rem;
            transition: background-color ease 1s;
            border-radius: 20%;

            &:hover {
                background-color: colors.$main-red;
            }
        }
    }
    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 70rem;
        padding: 0 1rem;
        &.noPadding {
            padding: 0;
        }
    }
    @media (min-width: 768px) {
        .container {
            padding: 0 2rem;

            &.withOverlay {
                position: relative;
            }
        }
    }
    .alignCenter {
        text-align: center;
        background-color: colors.$white;
    }
}
