@import 'styles/colors';

.postComponent {
    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 70rem;
        padding: 0 1rem;
    }
    @media (min-width: 768px) {
        .container {
            padding: 0 2rem;

            &.withOverlay {
                position: relative;
            }
        }
    }

    .main {
        padding: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            &.withOverlay {
                margin-top: -3rem;
                background-color: $white;
                border-radius: 5px;
            }
        }
    }

    .summary {
        background-color: $main-red;
        color: $white;
        padding: 0.5rem;
        @media (min-width: 1024px) {
            max-width: 50%;
            margin: 0 auto;
            padding: 1rem;
            display: flex;
            justify-content: center;
        }
    }

    .bodyText {
        a {
            text-decoration: underline;
        }
        iframe {
            width: 100%;
            max-width: 840px;
            margin: 0 auto;
        }
    }

    .title {
        margin: 0 auto;
        text-align: center;
    }
}
