@import 'styles/colors';

.nav {
    max-width: 100%;
    margin: 0 auto;
    font-size: 1em;

    &.small {
        font-size: 0.75rem;

        .secondary {
            flex-direction: row;
            li {
                padding: .25rem;
            }

            @media (min-width: 768px) {
                padding: 0.5rem 0;
            }
        }
    }

    .secondary {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: $white;
        z-index: 3000;
        padding: 0;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            padding: 0 0 2rem;
            flex-direction: row;
            width: 100%;
        }

        li {
            list-style-type: none;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                margin-bottom: 0.5rem;
            }

            &.active {
                margin-bottom: 0.5rem;
                a {
                    color: $main-red;
                    border-bottom: 0.25rem solid;
                }
            }

            @media (min-width: 768px) {
                margin: 0 1rem;

                &:hover,
                &.active {
                    margin-bottom: 0;
                }
            }

            a {
                padding: 0.25rem 0;
                transition: color ease 1s;
                font-size: 0.75em;

                @media (min-width: 768px) {
                    font-size: 0.85em;
                }

                &:hover {
                    color: $main-red;
                    border-bottom: 0.25rem solid;
                }
            }
        }
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0 0 1rem;
        background: $white;
        z-index: 3000;

        @media (min-width: 768px) {
            padding: 0 0 2rem;
            flex-direction: row;
            width: 100%;
        }

        li {
            list-style-type: none;
            max-width: 100%;

            .secondary {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                margin: 0;
                background: $white;
                z-index: 3000;
                padding: 0;
                flex-wrap: wrap;

                li {
                    margin: 0 0.5rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }

                    @media (min-width: 768px) {
                        margin: 0 1rem;
                    }

                    &.active {
                        a {
                            color: $main-red;
                            border-bottom: 0.25rem solid;
                        }
                    }

                    a {
                        padding: 0.25rem 0;
                        transition: color ease 1s;
                        font-size: 0.75rem;

                        @media (min-width: 768px) {
                            font-size: 0.85rem;
                        }

                        &:hover {
                            color: $main-red;
                            border-bottom: 0.25rem solid;
                        }
                    }
                }
            }
        }
    }
}
