.container {
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;
    padding: 0 1rem;
}
@media (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }
}

.main {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure {
    margin: 0 auto;
    text-align: center;

    &:nth-child(even) {
        margin: 0rem auto 4rem auto;
    }
}

.title {
    margin: 0 auto;
}

.title {
    margin: 0 auto;
}

.title,
.description,
.figcaption {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    @media (max-width: 600px) {
        width: 100%;
        flex-direction: column;
    }

    .card {
        margin: 0;
        flex-basis: 100%;
        padding: 0.5rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        width: 100%;

        @media (min-width: 768px) {
            flex-basis: 45%;
            margin: 0 1rem;
        }
    }
}

.wrapperVideo {
    @media (min-width: 1680px) {
        width: 1680px;
        margin: 0 auto;
    }

    .video {
        max-width: 100%;
        height: auto;

        @media (min-width: 1680px) {
            width: 1680px;
            margin: 0 auto;
        }
    }
}
