@use "sass:color";
@use '../../styles/colors.scss';

.tagListComponent {
    background: color.adjust(colors.$secondary-red, $lightness: 80%);
    p {
        color: colors.$main-red;
        text-align: center;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;

        li {
            list-style-type: none;
            font-weight: 700;
        }
    }
}
